In [19]:
import sys
sys.path.append("../../../..")
from my_packages.db_service.results_service import pretty_print_results, results_to_df

experiment_name = f"signature_similarity_1_shot"
print(experiment_name)
# results_to_df(f"{experiment_name}_5_shot")

pretty_print_results(
    experiment_name, 
    filter= {"model_name": {"$in": ["phi4:14b-fp16"]}},
    exclude_columns=[
        "ks", "created_at", "temperature", "top_p", "top_k", "metrics",
        "syntax@10",
        "semantic@10",
        "tests@10",
        "syntax@5",
        "semantic@5",
        "tests@5",
        "syntax@2",
        "semantic@2",
        "tests@2",
    ]
)

signature_similarity_1_shot
   model_name         seed eval_method                    syntax@1                    syntax@3                  semantic@1                  semantic@3                     tests@1                     tests@3
phi4:14b-fp16 [3, 346, 75]      3_fold {'mean': 0.56, 'std': 0.13} {'mean': 0.75, 'std': 0.12} {'mean': 0.46, 'std': 0.12} {'mean': 0.63, 'std': 0.14} {'mean': 0.36, 'std': 0.12} {'mean': 0.49, 'std': 0.12}
phi4:14b-fp16 [75, 3, 346]    hold_out {'mean': 0.59, 'std': 0.02} {'mean': 0.72, 'std': 0.04} {'mean': 0.38, 'std': 0.02} {'mean': 0.51, 'std': 0.05} {'mean': 0.31, 'std': 0.01} {'mean': 0.37, 'std': 0.04}
...
ðŸ“Š qwq:32b-preview-fp16: 1 documents
ðŸ“Š qwen2.5:72b-instruct-fp16: 1 documents
ðŸ“Š phi4:14b-fp16: 2 documents
ðŸ“Š qwen2.5-coder:32b-instruct-fp16: 1 documents
ðŸ“Š qwen2.5:14b-instruct-fp16: 1 documents
ðŸ“Š llama3.3:70b-instruct-fp16: 1 documents
Total documents/rows: 7
--------------------------------------------------

,model_name,seed,eval_method,syntax@1,syntax@3,semantic@1,semantic@3,tests@1,tests@3
0,phi4:14b-fp16,"[3, 346, 75]",3_fold,"{'mean': 0.56, 'std': 0.13}","{'mean': 0.75, 'std': 0.12}","{'mean': 0.46, 'std': 0.12}","{'mean': 0.63, 'std': 0.14}","{'mean': 0.36, 'std': 0.12}","{'mean': 0.49, 'std': 0.12}"
1,phi4:14b-fp16,"[75, 3, 346]",hold_out,"{'mean': 0.59, 'std': 0.02}","{'mean': 0.72, 'std': 0.04}","{'mean': 0.38, 'std': 0.02}","{'mean': 0.51, 'std': 0.05}","{'mean': 0.31, 'std': 0.01}","{'mean': 0.37, 'std': 0.04}"